<template>
  <section class="content">
    <div class="container-fluid">
      <form @submit.prevent="getTransaction()">
        <div class="row mb-3">
          <div class="col-md-3 mb-1">
            <input
              v-model="form.from"
              type="date"
              name="from"
              id="from"
              class="form-control"
            />
          </div>
          <div class="col-md-3 mb-1">
            <input
              v-model="form.to"
              type="date"
              name="to"
              id="to"
              class="form-control"
            />
          </div>
          <div class="col-md-3 mb-1">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a
              :href="'api/report/export?from=' + form.from + '&to=' + form.to"
              class="btn btn-success"
              >Export</a
            >
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Report Transaction</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Jenis Ticket</th>
                    <th class="text-center">Jumlah</th>
                    <th>Harga Ticket</th>
                    <th>Total Harga Ticket</th>
                    <th>Rincian Diskon</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="ticket in tickets" :key="ticket.id">
                    <td>{{ ticket.name }}</td>
                    <td class="text-center">{{ ticket.jumlah }}</td>
                    <td>{{ formatPrice(ticket.harga) }}</td>
                    <td>{{ formatPrice(ticket.total) }}</td>
                    <td>{{ formatPrice(ticket.totalDisc) }}</td>
                  </tr>
                  <tr>
                    <th>Total Amount :</th>
                    <th class="text-center">{{ jumlah }}</th>
                    <th></th>
                    <th>{{ formatPrice(total_amount) }}</th>
                  </tr>
                  <tr>
                    <th>Jenis Pembayaran</th>
                    <td class="text-center">Tunai :</td>
                    <th></th>
                    <th>{{ formatPrice(tunai) }}</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th></th>
                    <td class="text-center">Debit :</td>
                    <th></th>
                    <th>{{ formatPrice(debit) }}</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th></th>
                    <td class="text-center">Other :</td>
                    <th></th>
                    <th>{{ formatPrice(other) }}</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th>Total Discount :</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{ formatPrice(discount) }}</th>
                  </tr>
                  <tr>
                    <th>Grand Total :</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{ formatPrice(all) }}</th>
                  </tr>
                  <tr>
                    <th>Grand Total Penerimaan Tunai :</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{ formatPrice(allTunai) }}</th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      transactions: {},
      tickets: {},
      total_amount: 0,
      tunai: 0,
      jumlah: 0,
      debit: 0,
      other: 0,
      discount: 0,
      totalDisc: 0,
      all: 0,
      allTunai: 0,
      form: new Form({
        from: "",
        to: "",
      }),
    };
  },
  methods: {
    getTransaction() {
      this.form
        .post("api/report")
        .then(({ data }) => {
          this.$Progress.finish();
          this.transactions = data.transactions;
          this.tickets = data.tickets;
          this.total_amount = data.total_amount;
          this.tunai = data.tunai;
          this.debit = data.debit;
          this.other = data.other;
          this.discount = data.discount;
          this.totalDisc = data.totalDisc;
          this.jumlah = data.jumlah;
          this.all = data.all;
          this.allTunai = data.allTunai;

          Toast.fire({
            icon: "success",
            title: data.message,
          });

          console.log(data.tickets);
        })
        .catch(() => {
          Toast.fire({
            icon: "error",
            title: "Some error occured! Please try again",
          });
        });
    },

    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
  },
  mounted() {
    console.log("Transaction Component mounted.");
  },
  created() {
    this.$Progress.start();
    this.$Progress.finish();
  },
};
</script>